.img-box{
	column-count: 4; #указываем количество колонн
	column-gap: 0px; #отступ между нашими колонами
}
.image{
	max-width: 100%; #максимальная ширина картинки в 100% от всей ширины колонны 
	display: block; #отображение плиткой
}
.img + .image {
	margin: 6px; #отступы между изображениями
}